name: FastAPI CI Pipeline (Test + Security)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      # -----------------------------
      # Checkout code
      # -----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------------
      # Setup Python (Matrix)
      # -----------------------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # -----------------------------
      # Create virtual environment
      # -----------------------------
      - name: Create venv
        run: python -m venv venv

      # -----------------------------
      # Install dependencies
      # -----------------------------
      - name: Install dependencies
        run: |
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      # -----------------------------
      # Run Pytest
      # -----------------------------
      - name: Run tests
        run: |
          source venv/bin/activate
          pytest -v


  gitleaks:
    name: Gitleaks Secrets Scan
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          fail: true


  trivy:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH
          exit-code: 1

